@using OgrenciNotMvc.Models.EntityFramework
@model List<TBLOGRENCILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table table-bordered">
    <tr>
        <th>ÖĞRENCİ ID</th>
        <th>AD</th>
        <th>SOYAD</th>
        <th>FOTOĞRAF</th>
        <th>CİNSİYET</th>
        <th>KULUP</th>
        <th>İŞLEMLER</th>
    </tr>
    <tbody>
        @foreach (var ogr in Model)
        {
            <tr>
                <td>@ogr.OGRENCIID</td>
                <td>@ogr.OGRAD</td>
                <td>@ogr.OGRSOYAD</td>
                <td>@ogr.OGRFOTOGRAF</td>
                <td>@ogr.OGRCINSIYET</td>
                <td>@ogr.OGRKULUP</td>
                <td><a href="/Ogrenci/Sil/@ogr.OGRENCIID" class="btn btn-danger">Sil</a>
                    <a href="/Ogrenci/Guncelle/@ogr.OGRENCIID" class="btn btn-primary ">Güncelle</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/Ogrenci/YeniOgrenci" class="btn btn-success">Yeni Öğrenci Ekleme</a>
